<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <div>TEST avant maj</div>
  <!-- <div>TEST <span style="color:green">après</span> maj</div> -->
  <!-- <app-signal></app-signal> -->


  <ion-button (click)="alertBox()">Alert</ion-button>
</ion-content>
